:root {
  --primary-color: #9469af;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  margin-top: 100px;
  font-family: var(--default-font-family);
}

h1,
h2,
h3 {
  margin: 0;
  text-align: center;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
}

.contact-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: rgb(245, 237, 246);
}

.about-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

.wave {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.headshot {
  width: 400px;
  display: block;
  border-radius: 30px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.button {
  background: var(--primary-color);
  border-radius: 4px;
  color: rgb(249, 248, 249);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  margin-left: 650px;
}

.button-outline {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.info {
  padding-left: 60px;
  padding-right: 60px;
}
.content-container {
  padding: 160px 20px;
}
.content h1 {
  font-size: 64px;
  line-height: 80px;
  text-align: center;
}

.content h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}

.content h3 {
  font-size: 24px;
  line-height: 1.5;

  font-family: var(--default-font-family);
}

.content p {
  font-size: 14px;
}

.content {
  margin: 30px;
}

@media (max-width: 766px) .contact-links {
  text-align: center;
}

div {
  display: block;
}

.nav-item {
  padding: 0 15px;
}
